


/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	background: #F8F8F8;
}

p {
	font-size: 1em;
	margin-bottom: 1.8em;
	padding-left:15px;
	padding-right: 15px;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;

}
.primary {
	background: white;
}

.portfolio-title {
	text-align: center;

}

figure {
	margin: 0;
	line-height: 0;
	position: relative;
	width: 100%;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: black;
	padding-top: 1.5em;	
	padding-bottom: 1.6em;
	
	text-align: center;
	position: absolute;
	width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.4em;
	margin: 0;
	font-weight: 800;
	text-align: center;
	color: #3a3a3a;
}


.main-nav {
	margin-top: 10px;
	margin-bottom: -10px;
}

	
	.main-nav a {
		display: block;
		text-align: center;
		padding: 10px 15px;
	}
	
	.main-nav a {
		font-size: .95em;
		color:#3a3a3a;
		text-transform: uppercase;
		font-weight: 700;
	}

	.main-nav a:hover {
		color: #093a58;
	}

	.main-nav li {
		margin-left: -10px;
		margin-bottom: 5px;
		background: white;
		list-style: none;
	}
	.main-nav ul {
		padding-left:-20px;
	}

	.contact{
		background: #F8F8F8;
		text-align:	center;
		margin-top: 20px;

	}



/* ---- Layout Containers ---- */

.main-header {
	width: 100%;
	padding-top: .5em;
	padding-bottom: .5em;
	z-index: 1;
   font-family: 'Roboto', sans-serif;
}



.banner {
	text-align: center;
}

.banner {
	color: black;
	background: #f6fbfc !important;
	padding: 3.2em 0;
	margin-bottom: 60px;
}	

.container {
	background: white;
	padding-top: 40px;
}


.col {
	padding-right: 1em;
	padding-left: 1em;
	margin-bottom: 150px;
}


/* ---- Page Elements ---- */

.feat-img {
	width: 100%;
}

.headline {
	margin-bottom: 0;
}

.icon-location {
	width: 35px;
	position: absolute;
	top: -15px;
	right: -15px;
}

.name {
	background:#F8F8F8;
	padding: 25px;
}

#folio {
	margin: 15px;
}
/* =====footer======= */

.footer-name {
   float: left;
   font-size: 0.875em;
   font-weight: 500;
   padding-left: 15px;
   color: #3a3a3a;
   font-family: 'Roboto', sans-serif;

}

.footer-nav {
   margin: 0;
   float: right;
   text-transform: uppercase;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;

}

footer {
   border-top: 1px solid #DCDCDC;
   padding-top: 1.5em;
}

.footer-nav li {
	list-style: none;
}

.footer-sm {
	padding-right: 15px;
	color: #3a3a3a;
	font-weight: 400;
}
.footer-lg {
   display: none;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

	body {
		padding-top: 68px;
	}

	.main-header {
		position: fixed;
		background: #fff;
		width: 100%;
		top: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	#folio{
		margin-left: 100px;
	}
	
	.name,
	.col {
		float: left;
	}

	
	.primary
	 {
		width: 90%;
		float: left;
		padding: 0 10px;
		margin-bottom: 150px;
	}

	.main-nav {
		float: right;
	}


	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.name {
		background: white !important;
	}

	.tagline {
		font-size: 1.4em;
		padding-top: 40px;
	}
	.banner-img {
		padding-top: 60px;
		margin-right: 10px;
	}

	.contact {
		background: #F8F8F8;
	}

	.footer-name {
		font-size: .95em;
		
		letter-spacing: 2px;
	}

   .footer-lg {
      display: block;
      font-size: 0.875em;
   }

   .footer-sm {
      display: none;
   }

   .footer-lg li  a{
      margin-right: 10px;
   }



	/* ---- Float clearfix ---- */

	.clearfix:after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {
	
	
    .banner-img {
    	float: right;

    }

    .tagline  {
    	width: 60%;
    	text-align:left;
    	
    	padding-right: 60px;
    }

	.container {
		width: 90%;
		max-width: 1150px;
        margin: 0 auto;
	}

	.primary {
		width: 33.3%;
		float: left;
		padding: 0 10px;
		margin-bottom: 150px;
	}


	.card {
		margin:10px;	

	}


	.clearfix:after {
		content: " ";
		display: table;
		clear: both;
	}

}